/**
 * Vertical Tabs
 *
 * Vertical Tabs to switch between different content
 * found on some charts on the country pages where
 * there is a selection
 * Usage:

<ul class="wfp-verticaltabs">
    <li class="wfp-verticaltabs__item">Text</li>
    <li class="wfp-verticaltabs__item active">Text</li> //Currently selected Item
</ul>
 */

.wfp-verticaltabs {
	input {
		display: none;
	}
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    font-family: $sans-serif-stack;
}

.wfp-verticaltabs__item, .wfp-verticaltabs li {
    direction:ltr; 
    min-height: 20px;
    position: relative;
    background: $white;
    border-bottom: 1px solid $grey-lighter;
    display: flex;
    align-items: center;
    padding: 0.5em 1.5em;
    cursor: pointer;
    text-align: left;
    margin: 0em;
    @include print {
        display: none;
    }
    &:hover {
    	background-color: $blue-lightest;
    }
    /* Arrow to the right */
    &:after {
        position: absolute;
        top: 50%;
        right: -3px;
        content: "";
        margin-top: -8px;
        width: 16px;
        height: 16px;
        background: $primary;
        z-index: -1;
        transform: translateX(-30px) rotate(45deg);
        transition: all 0.2s;
    }
    &.active {
    	background: $primary;
    	color: $white;
        border-color: $primary;
        @include print {
            display: block;
            color: $black;
            background-color: $white;
            border: none;
            &:after {
                display: none;
            }
        }
    	&:after {
            transform: translateX(0) rotate(45deg);
    	}
    }
}